<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%#= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%#= render 'follow_form' if signed_in? %>
    <% if @user.videos.any? %>
      <h3>Videos (<%= @user.videos.count %>)</h3>
      <ol class="videos">
        <%= render @videos %>
      </ol>
    <% end %>
  </div>
</div>