<!DOCTYPE html>
<html>
<head>
  <title>Vlickr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <%= yield %>
    <hr class='space' />
    <div class='span-24 last'>
      <div class='small span-5 prepend-19'>
        copyright &copy
        <a href='http://www.github.com/vothane'>Thane Vo</a>
        2013
      </div>
    </div>
  </div>

</body>
</html>